---
layout: default
---

<div class="jumbotron homepage-banner">
  <div class="container">
    <h1>We create a lasting cultural shift and knowledge base to act upon.</h1>
    <p class="dark-bg">From idea to execution, Fabernovel empowers companies to digitally transform and win.<a href="{{ site.baseurl }}/about/company/" class="plus-button">+</a></p>
    <p><a id="hero-call-to-action" class="action-button hidden-xs">What we do</a><a href="{{ site.baseurl }}/contact-us/" class="action-button visible-xs-block">Contact us</a></p>
    <ul id="challenges">
      <li><a class="action-button hidden-xs" href="{{ site.baseurl }}/consulting-services/learning-expeditions/">Learning Expeditions</a></li>
      <li><a class="action-button hidden-xs" href="{{ site.baseurl }}/consulting-services/digital-academy/">Digital Academy</a></li>
      <li><a class="action-button hidden-xs" href="{{ site.baseurl }}/consulting-services/strategy-consulting/">Strategy Consulting</a></li>
    </ul>
  </div>
</div>

<div class="container">
  
  <div class="row border-row">
    <div class="col-md-6 padding-top-20">
      <h2>We are FABERNOVEL US.</h2>
      <div class="row">
        <div class="col-md-5">
          <img src="{{ site.baseurl }}/img/parisoma-space.jpg" style="width:100%;height:auto;">
        </div>
        <div class="col-md-7">
          <p>FABERNOVEL is a global innovation agency that is digitally native.  Since 2003, Fabernovel brings clients the thought leadership of a consultancy, the creativity of an advertising agency and problem solving strength of a technology company. We work tirelessly to bring the benefits of change to corporations, startups, and teams who want to create market impact with digital technology.</p>
          <p><a href="{{ site.baseurl }}/about/parisoma/" class="link-more">Learn more about us</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 highlights-vertical-box padding-top-20">
      <h3>Highlighted Case Study</h3>
      {% for post in site.categories.case-studies %}
          
              {% if post.industry == "high-tech" %}
                <center><a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}/{{ post.img }}" style="width:100%;height:auto;"></a></center>
                <p class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.client }}</a></p>
                <p class="post-excerpt">{{ post.subtitle }}</p>
                <p><a href="{{ site.baseurl }}{{ post.url }}" class="link-more">Learn how</a></p>
                {% break %}
              {% endif %}
           
      {% endfor %}
    </div>
    <div class="col-md-3 highlights-vertical-box padding-top-20">
      <h3>Read our research on AI</h3>
     
                <center><a href="https://en.fabernovel.com/insights/stories/artificial-intelligence-2" target="_blank"><img src="{{ site.baseurl }}/img/artificial-intelligence-cover.png" style="width:100%;height:auto;"></a></center>
                <p class="post-title"><a href="https://en.fabernovel.com/insights/stories/artificial-intelligence-2" target="_blank">AI's New New Age</a></p>
                <p class="post-excerpt">In 2017, artificial intelligence is on everyone’s lips, fueling both hopes of tremendous economic opportunities and existential questions for the future of humanity. Is the current enthusiasm just a new frenzy, or does it mark the dawn of a new era?</p>
                <p><a href="https://en.fabernovel.com/insights/stories/artificial-intelligence-2" target="_blank" class="link-more">Read more</a></p>

    </div>
  </div>

</div>