---
layout: default
---

<div class="jumbotron homepage-banner">
  <div class="container">
    <h1>Together, we craft the future of your industry at startup speed.</h1>
    <p class="dark-bg">We help world leading companies build growth at startup speed.<a href="{{ site.baseurl }}/about/company/" class="plus-button">+</a></p>
    <p><a id="hero-call-to-action" class="action-button hidden-xs">What challenge can we help you solve?</a><a href="{{ site.baseurl }}/contact-us/" class="action-button visible-xs-block">Contact us</a></p>
    <ul id="challenges">
      <li><a class="action-button hidden-xs" href="{{ site.baseurl }}/consulting-services/driving-new-growth/">Driving New Growth</a></li>
      <li><a class="action-button hidden-xs" href="{{ site.baseurl }}/consulting-services/defending-turf/">Defending Turf</a></li>
      <li><a class="action-button hidden-xs" href="{{ site.baseurl }}/consulting-services/evolving-operating-model/">Evolving the Operating Model</a></li>
      <li><a class="action-button hidden-xs" href="{{ site.baseurl }}/consulting-services/instilling-a-culture-of-innovation/">Instilling a Culture of Innovation</a></li>
    </ul>
  </div>
</div>

<div class="container">
  
  <div class="row border-row">
    <div class="col-md-6 padding-top-20">
      <h2>Insights from the front line of innovation fuel our work.</h2>
      <div class="row">
        <div class="col-md-5">
          <img src="{{ site.baseurl }}/img/parisoma-space.jpg" style="width:100%;height:auto;">
        </div>
        <div class="col-md-7">
          <p>At FABERNOVEL we believe in immersing ourselves in the tech community in order to provide the most relevant insights for our clients. In 2008 we launched our own open incubator, PARISOMA, to become a part of the startup community and discover the newest trends.</p>
          <p><a href="{{ site.baseurl }}/about/company/" class="link-more">Learn more about us</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 highlights-vertical-box padding-top-20">
      <h3>Highlighted Case Study</h3>
      {% for post in site.categories.case-studies %}
          
              {% if post.industry == "high-tech" %}
                <center><a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}/{{ post.img }}" style="width:100%;height:auto;"></a></center>
                <p class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.client }}</a></p>
                <p class="post-excerpt">{{ post.subtitle }}</p>
                <p><a href="{{ site.baseurl }}{{ post.url }}" class="link-more">Learn how</a></p>
                {% break %}
              {% endif %}
           
      {% endfor %}
    </div>
    <div class="col-md-3 highlights-vertical-box padding-top-20">
      <h3>Read our research on AI</h3>
     
                <center><a href="https://en.fabernovel.com/insights/stories/artificial-intelligence-2" target="_blank"><img src="{{ site.baseurl }}/img/artificial-intelligence-cover.png" style="width:100%;height:auto;"></a></center>
                <p class="post-title"><a href="https://en.fabernovel.com/insights/stories/artificial-intelligence-2" target="_blank">AI's New New Age</a></p>
                <p class="post-excerpt">In 2017, artificial intelligence is on everyone’s lips, fueling both hopes of tremendous economic opportunities and existential questions for the future of humanity. Is the current enthusiasm just a new frenzy, or does it mark the dawn of a new era?</p>
                <p><a href="https://en.fabernovel.com/insights/stories/artificial-intelligence-2" target="_blank" class="link-more">Read more</a></p>

    </div>
  </div>

</div>