---
layout: default
---

<div class="jumbotron banner-about">
  <div class="container">
    <h1>About Us - {{ page.title }}</h1>
  </div>
</div>


<div class="container">
	
	<div class="row border-row">
		<div class="col-md-2 padding-top-40 hidden-xs hidden-sm">
			<ul class="about-nav">
				<li><a href="{{ site.baseurl }}/about/company/" {% if page.title == "Our Company" %}class="active"{% endif %}>Our company</a></li>
				<li><a href="{{ site.baseurl }}/about/mission/" {% if page.title == "Our Mission & Guiding Philosophy" %}class="active"{% endif %}>Our Mission</a></li>
				<li><a href="{{ site.baseurl }}/about/parisoma/" {% if page.title == "PARISOMA" %}class="active"{% endif %}>PARISOMA</a></li>
	            <li><a href="{{ site.baseurl }}/about/team/" {% if page.title == "Team" %}class="active"{% endif %}>Team</a></li>
	            <li><a href="{{ site.baseurl }}/about/careers/" {% if page.title == "Careers" %}class="active"{% endif %}>Careers</a></li>
			</ul>
		</div>
		<div class="col-md-7 padding-top-20 fabernovel-border-right">
			
				{{ content }}
			
			<div class="row fabernovel-border-top margin-top-40">
				<div class="col-md-12"><h2>We help our clients with</h2></div>
				<div class="col-md-6 grey-blocks">
					<div class="inner">
						<h4>Learning Expeditions</h4><p>Network. Experience. Commune.</p><a class="plus-button" href="{{ site.baseurl }}/consulting-services/learning-expeditions/">+</a></div></div>
				<div class="col-md-6 grey-blocks">
					<div class="inner">
						<h4>Digital Academy</h4><p>Build an ongoing knowledge base.</p><a class="plus-button" href="{{ site.baseurl }}/consulting-services/digital-academy/">+</a></div></div>
				<div class="col-md-6 grey-blocks">
					<div class="inner">
						<h4>Strategy Consulting</h4><p>Identify. Prioritize. Execute.</p><a class="plus-button" href="{{ site.baseurl }}/consulting-services/strategy-consulting/">+</a></div></div>
			</div>
		</div>
		<div class="col-md-3 padding-top-40">
			<div class="row">
				<div class="col-md-12">
					<img src="{{ site.baseurl }}/img/DominiquePiotet_circle.png" class="contact-img">
					<p class="contact-name">Dominique Piotet</p>
					<p class="contact-title">CEO FABERNOVEL US</p>
					<p><a href="{{ site.baseurl }}/contact-us/" class="contact-button">Contact Dominique</a></p>
				</div>
			</div>

		</div>
	</div>




</div>