---
layout: default
---

<div class="jumbotron banner-about">
  <div class="container">
    <h1>About Us - {{ page.title }}</h1>
  </div>
</div>


<div class="container">
	
	<div class="row border-row">
		<div class="col-md-3 padding-top-40">
			<ul class="about-nav">
				<li><a href="{{ site.baseurl }}/about/company/" {% if page.title == "Our Company" %}class="active"{% endif %}>Our company</a></li>
	            <li><a href="{{ site.baseurl }}/about/history/" {% if page.title == "History" %}class="active"{% endif %}>History</a></li>
	            <li><a href="{{ site.baseurl }}/about/team/" {% if page.title == "Team" %}class="active"{% endif %}>Team</a></li>
	            <li><a href="{{ site.baseurl }}/about/careers/" {% if page.title == "Careers" %}class="active"{% endif %}>Careers</a></li>
			</ul>
		</div>
		<div class="col-md-6 padding-top-20">
			{{ content }}
		</div>
		<div class="col-md-3 sidebar padding-top-40">
			<div class="row">
				<div class="col-md-12">
					<img src="{{ site.baseurl }}/img/JasonWolenik_circle.png" class="contact-img">
					<p class="contact-name">Jason Wolenik</p>
					<p class="contact-title">Managing Director</p>
					<p><a href="{{ site.baseurl }}/contact-us/" class="contact-button">Contact Jason</a></p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h2>We solve your challenges</h2>
				</div>
			</div>

			
			<div class="row">
				<div class="col-md-12">
					<p>
						<h4>Driving New Growth</h4>
						Grow your business beyond what’s expected. 
					</p>
					<p><a href="{{ site.baseurl }}/consulting-services/driving-new-growth/">Learn more</a></p>
				</div>
			</div>
	
	
			<div class="row">
				<div class="col-md-12">
					<p>
						<h4>Defending Turf</h4>
						Defending turf requires a strategic pivot from the traditional business model. 
					</p>
					<p><a href="{{ site.baseurl }}/consulting-services/defending-turf/">Learn more</a></p>
				</div>
			</div>
	
	
			<div class="row">
				<div class="col-md-12">
					<p>
						<h4>Evolving the Operating Model</h4>
						Realize new levels of internal efficiencies to exponentially grow the bottom line.
					</p>
					<p><a href="{{ site.baseurl }}/consulting-services/evolving-operating-model/">Learn more</a></p>
				</div>
			</div>
	
	
			<div class="row">
				<div class="col-md-12">
					<p>
						<h4>Instilling a Culture of Innovation</h4>
						Transform the culture of your organization and realize new ideas. 
					</p>
					<p><a href="{{ site.baseurl }}/consulting-services/instilling-a-culture-of-innovation/">Learn more</a></p>
				</div>
			</div>
	

		</div>
	</div>




</div>