---
layout: default
---

<div class="jumbotron banner-case-study">
  <div class="container">
    <h1>{{ page.client }}</h1>
    <p>{{ page.subtitle }}</p>
  </div>
</div>


<div class="container">
  
  <div class="row border-row">
    <div class="col-md-9 padding-top-20 fabernovel-border-right">
			
				{{ content }}
			
				<div class="row fabernovel-border-top margin-top-40">
				<div class="col-md-12"><h2>See what we can do for you</h2></div>
				<div class="col-md-6 grey-blocks">
					<div class="inner">
						<h4>Learning Expeditions</h4><p>Network. Experience. Commune.</p><a class="plus-button" href="{{ site.baseurl }}/consulting-services/learning-expeditions/">+</a></div></div>
				<div class="col-md-6 grey-blocks">
					<div class="inner">
						<h4>Digital Academy</h4><p>Build an ongoing knowledge base.</p><a class="plus-button" href="{{ site.baseurl }}/consulting-services/digital-academy/">+</a></div></div>
				<div class="col-md-6 grey-blocks">
					<div class="inner">
						<h4>Strategy Consulting</h4><p>Identify. Prioritize. Execute.</p><a class="plus-button" href="{{ site.baseurl }}/consulting-services/strategy-consulting/">+</a></div></div>
			</div>
		</div>
		</div>
		<div class="col-md-3 padding-top-40">
			<div class="row">
				<div class="col-md-12">
					<img src="{{ site.baseurl }}/img/DominiquePiotet_circle.png" class="contact-img">
					<p class="contact-name">Dominique Piotet</p>
					<p class="contact-title">CEO FABERNOVEL US</p>
					<p><a href="{{ site.baseurl }}/contact-us/" class="contact-button">Contact Dominique</a></p>
				</div>
			</div>

		</div>
	</div>
  </div>
</div>