---
layout: default
---

<div class="jumbotron banner-case-study">
  <div class="container">
    <h1>{{ page.client }}</h1>
    <p>{{ page.subtitle }}</p>
  </div>
</div>


<div class="container">
  
  <div class="row border-row">
    <div class="col-md-9 padding-top-20 fabernovel-border-right">
			
				{{ content }}
			
		<div class="row fabernovel-border-top margin-top-40">
				<div class="col-md-12"><h2>See what we can do for you</h2></div>
				<div class="col-md-6 grey-blocks">
					<div class="inner">
						<h4>Driving New Growth</h4><p>Grow your business beyond what’s expected.</p><a class="plus-button" href="{{ site.baseurl }}/consulting-services/driving-new-growth/">+</a></div></div>
				<div class="col-md-6 grey-blocks">
					<div class="inner">
						<h4>Defending Turf</h4><p>Defending turf requires a strategic pivot from the traditional business model.</p><a class="plus-button" href="{{ site.baseurl }}/consulting-services/defending-turf/">+</a></div></div>
				<div class="col-md-6 grey-blocks">
					<div class="inner">
						<h4>Evolving the Operating Model</h4><p>Realize new levels of internal efficiencies to exponentially grow the bottom line.</p><a class="plus-button" href="{{ site.baseurl }}/consulting-services/evolving-operating-model/">+</a></div></div>
				<div class="col-md-6 grey-blocks">
					<div class="inner">
						<h4>Instilling a Culture of Innovation</h4><p>Transform the culture of your organization and realize new ideas.</p><a class="plus-button" href="{{ site.baseurl }}/consulting-services/instilling-a-culture-of-innovation/">+</a></div>
				</div>
		</div>
		</div>
		<div class="col-md-3 padding-top-40">
			<div class="row">
				<div class="col-md-12">
					<img src="{{ site.baseurl }}/img/JasonWolenik_circle.png" class="contact-img">
					<p class="contact-name">Jason Wolenik</p>
					<p class="contact-title">Managing Director</p>
					<p><a href="{{ site.baseurl }}/contact-us/" class="contact-button">Contact Jason</a></p>
				</div>
			</div>

		</div>
	</div>
  </div>
</div>